{% extends 'base.html.twig' %}

{% block body %}
    <div id="pjax-container">
        <section class="guarantees">
            <div class="container">
                <div class="row">
                    <h3>Гарантии</h3>
                    <div class="col-md-12 editable">
                        <div class="benefits"></div>
                        <div id="guarantees"><p><strong>Быстро</strong> – на сайте автоматизированная система, которая позволяет моментально получить игру или аккаунт после совершенной вами покупки или открытия кейса. Вы сразу сможете активировать её в одном из клиентов (Steam, Origin, Uplay и др.) или зайти в один из них (в случае с аккаунтом) и наслаждаться игрой. В случае, если выпавший вам товар уже есть в вашей библиотеке, вы сможете продать его на нашем же сайте и купить какую-либо другую игру/аккаунт или открыть кейс.<br></p><p><strong>Надежно</strong> – вся информация о пользователях находится под охраной. Сайт имеет SSL сертификат, который обеспечивает надежную защиту ваших платежных данных. Доступно множество различных способов оплаты, имеем персональный аттестат на Webmoney, огромное количество положительных отзывов в разделе «Отзывы».</p><p><strong>Дешево</strong> – часть наших товаров скупается у множества различных пользователей, которым не нужен тот или иной продукт, поэтому цены на нашем сайте очень доступные и приемлемые.</p><p style="text-align: left;"><strong>Честно</strong> – весь ассортимент проверяется лично администрацией сервиса и появляется на сайте строго после полного прохождения смотра. Но мы не исключаем вероятность того, что товар может попасться нерабочим, в таком случае мы просим вас обращаться в нашу техническую поддержку, которая быстро и оперативно поможет решить вашу проблему.</p><h3 style="text-align: center;">Как активировать игру?</h3><h4 style="text-align: center;">Если вы приобрели игру/аккаунт в разделе «Магазин»</h4><p style="text-align: center;">Если вы приобретали товар в разделе «Магазин», то советуем вам перейти в описание к купленному вами продукту и прочитать более подробную инструкцию именно там.</p><h4 style="text-align: center;">Если вы выбили игру/аккаунт в кейсе</h4><p>При открытии кейса вам может выпасть текстовая информация разных форматов (нажмите на ваш вариант, чтобы ознакомиться с общей инструкцией активации):</p><ol><li><b>Steam: *****-*****-*****&nbsp;</b></li><li><b>Origin: ****-****-****-****-****</b></li><li><b>Uplay: **********</b></li><li><b>Код: chtoTOT1PaTak0go</b></li><li><b>Ссылка: <a href="https://store.steampowered.com/account/ackgift/">https://store.steampowered.com/account/ackgift/</a>*************</b></li><li><b>Данные для входа: login1234:qwerty123</b></li></ol><ol><li>Steam: *****-*****-*****</li><p>Ключ игры, который нужно активировать в клиенте Steam:</p><p>Выберете «Активировать в Steam» в разделе «Игры»</p><img src="img/guarantees/1.png" alt=">Выберете «Активировать в Steam» в разделе «Игры»"><br><br><p>Следующие действия выполняйте по инструкции</p><br><img src="img/guarantees/2.png" alt="Следующие действия выполняйте по инструкции"><br><br><p>Введите полученный ключ, активируйте его, и новая игра появится у вас в библиотеке. Наслаждайтесь;)<br></p><br><img src="img/guarantees/3.png" alt="Следующие действия выполняйте по инструкции"><br><p></p><br><br><li>Origin: ****-****-****-****-****</li><p><br></p><p>Ключ игры, который нужно активировать в клиенте Origin:</p><p>Выберете «Активировать код продукта» в разделе «Origin»<br></p><br><img src="img/guarantees/4.png" alt="Следующие действия выполняйте по инструкции"><br><br><p>Введите полученный ключ, активируйте его, и новая игра появится у вас в библиотеке. Наслаждайтесь;)</p><br><img src="img/guarantees/5.png" alt="Следующие действия выполняйте по инструкции"><p><br></p><li>Uplay: **********</li><p>Ключ игры, который нужно активировать в клиенте Uplay:</p><p>Выберете «Activate a key» слева в разделах<br><br></p><img src="img/guarantees/6.png" alt="Следующие действия выполняйте по инструкции"><br><br><p>Введите полученный ключ, активируйте его, и новая игра появится у вас в библиотеке. Наслаждайтесь;)</p><br><img src="img/guarantees/7.png" alt="Следующие действия выполняйте по инструкции"><br><br><li>Код: chtoTOT1PaTak0go</li><p>Такой код может выпасть, но очень редко. Из-за нововведений в различных платформах исчезла возможность покупать какой-либо продукт в подарок, чтобы активировать его позже или дать кому-либо другому. Поэтому, если вам выпал такой код, вставляйте его сюда и ожидайте в течение 24 часов. Игра будет вручную прислана вам на ваш аккаунт в одной из платформ.</p><br><li>Ссылка: <a href="https://store.steampowered.com/account/ackgift/">https://store.steampowered.com/account/ackgift/</a>*************</li><p>Всё очень просто. Перейдите по ссылке и активируйте игру на своем аккаунте Steam (вы должны залогиниться в браузере). Игра появится в вашей библиотеке ;)</p><br><li>Данные для входа: login1234:qwerty123</li><p>Набор символов до знака “:” является логином, набор символов после “:” является паролем. Введите данные в нужной платформе (в зависимости от того, какой кейс вы открывали), войдите в аккаунт и наслаждайтесь игрой.</p></ol></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <link rel="stylesheet" href="/css/main.min.css">

{% endblock %}

{% block javascripts %}
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/pjax-master/pjax.js"></script>
    <script src="/libs/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/js/data.js"></script>
    <script src="/js/dataRoulette.js"></script>
    <script src="/js/dataCases.js"></script>
    <script src="/js/dataUser.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/view.js"></script>
    <script src="/js/common.js"></script>
{% endblock %}